<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuforia.samples.VuforiaSamples"
    android:versionCode="200"
    android:versionName="5.0" >

    <!--
        The application's compatibility with one or more versions of the Android
        platform.

        android:minSdkVersion = application's required minimum API level to run
        android:targetSdkVersion = application's targeted API level
    -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="22" />

    <uses-feature android:glEsVersion="0x00020000" />

    <!--
         The application requires a camera.

         NOTE: Any application that requests the CAMERA permission but does not
         declare any camera features with the <uses-feature> element will be
         assumed to use all camera features (auto-focus and flash). Thus, the
         application will not be compatible with devices that do not support
         all camera features. Please use <uses-feature> to declare only the
         camera features that your application does need. For instance, if you
         request the CAMERA permission, but you do not need auto-focus or
         flash, then declare only the android.hardware.camera feature. The
         other camera features that you do not request will no longer be
         assumed as required.
    -->
    <uses-feature android:name="android.hardware.camera" />
    
    <!--
        Add this permission to get access to the camera.
    -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
        Add this permission to allow opening network sockets.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera2.full" />
    <!--
        Add this permission to check which network access properties (e.g.
        active type: 3G/WiFi).
     -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:launchMode="singleTask"
        android:allowBackup="true"
        android:theme="@style/SampleAppsTheme"
        >
        <!-- Splash Screen Activity -->
         <activity
            android:name=".ui.ActivityList.ActivitySplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>

        <activity
            android:name=".ui.ActivityList.ActivityLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            >
        </activity>
        
         <activity
            android:name=".ui.ActivityList.AboutScreen"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:noHistory="true"
            >
        </activity>
         
        <activity
            android:name=".app.ImageTargets.ImageTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>

        
        <activity
            android:name=".app.TextRecognition.TextReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
  	        android:launchMode="singleTask"
            >
        </activity>

        <activity
            android:name=".app.CylinderTargets.CylinderTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
        
        <activity
            android:name=".app.FrameMarkers.FrameMarkers"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
        
        <activity
            android:name=".app.VirtualButtons.VirtualButtons"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
        
        <activity
            android:name=".app.UserDefinedTargets.UserDefinedTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
                
        <activity
            android:name=".app.MultiTargets.MultiTargets"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
        
        <activity
            android:name=".app.CloudRecognition.CloudReco"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>
         
        <activity
            android:name=".app.ARNavigation.MainNavigation"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
        	android:theme="@style/SampleAppsTheme"
 	        android:launchMode="singleTask"
            >
        </activity>


        <activity android:name=".app.youxiwang.ActivityPrepare"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".app.youxiwang.ActivityBuffer"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >

            <!-- ATTENTION: This intent was auto-generated. Follow instructions at
      https://g.co/AppIndexing/AndroidStudio to publish your URLs. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="vuforiasamples.samples.vuforia.com"
                    android:pathPrefix="/activitybuffer"
                    android:scheme="http" />
            </intent-filter>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>